/*Reseting default table styles */

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/*Aplying borders to rows and columns */

table {
    border-collapse: collapse;
  }

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  /*Aplying zebra striping */

  tbody tr:nth-child(odd) {
    background: rgb(216, 231, 183);
  }